

/*Macbook-air 2018 (1024px)*/
@media (min-width:1024px){
    .Results__Card {
        position:relative;
        /* width: 25%;  */
    }

    .Results__Card .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #FFF;
        padding: calc(5px + 3vmin);
    }

    .Results__Card:hover .after {
        display: block;
        background: rgba(0, 0, 0, .6);
    }

    .Results__Card--title{
        position:relative;
        top:70%;
        
    }
    .Results__Image {
        width:100%;
        border-radius: 3px;
        filter: drop-shadow(0px 3px 9px rgba(0,0,0,0.6));
    }
    .Results__Title{
        font-family: "Source Sans Pro",sans-serif;
        font-size:6rem;
        letter-spacing: .3em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        padding:3rem;
    }

    .Results__Wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin:3rem;
      }
    
    .Title--Heading{
        font-size:2rem;
    }
}

/*iphone-x (375px) */
@media (max-width:500px){

    .Results__Wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

    .Results__Title{
        font-family: "Source Sans Pro",sans-serif;
        font-size:4rem;
        text-align: center;
        text-transform: uppercase;
        padding:3rem;
    }

    .Results__Card {
        /* background-color: #7fcdff; */
        position:relative;
        border-radius: 3px;
    }

    .Title__Wrapper{
        padding:1.2rem;
    }

    .Title--Heading{
        font-size:3rem;
        text-align: center;
    }


    .Results__Image {
        width:50px;
        border-radius:5px; 
        object-fit: cover;
        filter: drop-shadow(0px 3px 9px rgba(0,0,0,0.6));
    }
}

@media (min-width: 1024px) and (max-width: 2000px) {
    .Results__Card--title{
      font-size: calc( .8rem + 16 * (100vw - 1024px) / (2000 - 1024) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 2000px) / (1024 - 2000) );
    }
  }
