

/*Macbook-air 2018 (1024px)*/
@media (min-width:1024px){
    .Results__Card {

        /* width: 25%;  */
    }
    .Results__Image {
        width:100%;
        border-radius: 3px;
        filter: drop-shadow(0px 3px 9px rgba(0,0,0,0.6));
    }
    .Results__Title{
        font-family: "Source Sans Pro",sans-serif;
        font-size:6rem;
        letter-spacing: .3em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        padding:3rem;
    }

    .Results__Wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin:3rem;
      }
    
    .Title--Heading{
        font-size:2rem;
    }
}

/*iphone-x (375px) */
@media (max-width:500px){

    .Results__Wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

    .Results__Title{
        font-family: "Source Sans Pro",sans-serif;
        font-size:4rem;
        text-align: center;
        text-transform: uppercase;
        padding:3rem;
    }

    .Results__Card {
        /* background-color: #7fcdff; */
        border-radius: 3px;
    }

    .Title__Wrapper{
        padding:1.2rem;
    }

    .Title--Heading{
        font-size:3rem;
        text-align: center;
    }


    .Results__Image {
        width:50px;
        border-radius:5px; 
        object-fit: cover;
        width:100%;
    }
}
