.Header__Wrapper{
    text-align:center;
    padding:1.8em;
    margin-bottom:1em;
}

.Header--Title{
    letter-spacing: 2.7rem;
    font-size:4rem;
    font-family: "Source Sans Pro",sans-serif;
    color:#f21d00;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width:500px){       /*iphone-x 375px*/
    .Header--Title{
        font-size:4.5em;
        font-family: "Source Sans Pro",sans-serif;
        color:#f21d00;
        font-weight: 500;
        text-transform: uppercase;
    }
}