
@media(min-width:800px){
    .Header__Wrapper{
        text-align:center;
        padding:1em;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }
    
    .Header--Title{
        letter-spacing: 2.7rem;
        font-size:8rem;
        font-family: "Source Sans Pro",sans-serif;
        color:#ff5722;
        font-weight: 300;
        text-transform: uppercase;
    }
}


@media (max-width:500px){       /*iphone-x 375px*/

    .Header__Wrapper{
        text-align:center;
        padding:1em;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }
    .Header--Title{
        font-size:4.5em;
        font-family: "Source Sans Pro",sans-serif;
        color:#ff5722;
        font-weight: 400;
        text-transform: uppercase;
    }
}