.Header__Wrapper{
    text-align:center;
    padding:1em;
    margin-bottom:1em;
}

.Header--Title{
    letter-spacing: 2.7rem;
    font-size:4rem;
    font-family: "Source Sans Pro",sans-serif;
    color:#ff5722;
    font-weight: 300;
    text-transform: uppercase;
}

@media (max-width:500px){       /*iphone-x 375px*/
    .Header--Title{
        font-size:.8rem;
        font-family: "Source Sans Pro",sans-serif;
        color:#ff5722;
        font-weight: 300;
        text-transform: uppercase;
    }
}